<br>
<h1 class="text-center mb-5">
	Flights Booker
</h1>

<%= render 'flights/messages' %>

<div class="container">
	<div class="row">
		<div class="col col-md-4">
			<div class="row">
				<%= form_with(url: "/flights", method: :get, data: { turbo_frame: "flights" }) do |f| %>
					<div class="row">
						<div class="col">
						<%= f.label :depature, style: "display: block", class: "form-label" %>
						<%= f.collection_select(:depature_airport, Airport.all, :id, :code, {}, { class: "form-select" } ) %>
						</div>
						<div class="col">
							<%= f.label :arrival, style: "display: block", class: "form-label" %>
							<%= f.collection_select(:arrival_airport, Airport.all, :id, :code, {}, { class: "form-select" } ) %>
						</div>
					</div>
					<div class="mb-3">
						<%= f.label :flight_date, style: "display: block", class: "form-label" %>
						<%= f.collection_select(:start, Flight.select(:start).distinct.order(:start), :id, :start , {}, { class: "form-select" } ) %>
					</div>
					<div class="mb-3 d-grid gap-2">
						<%= f.submit value: "Search Flights", class: "btn btn-outline-success" %>
					</div>
				<% end %>
			</div>
		</div>
		<div class="col ms-auto">
			<% if @flight %>
				<table class="table table-hover table-bordered able-responsive">
					<thead>
						<tr class="text-center">
							<td scope="col">#</td>
							<td scope="col">Departs</td>
							<td scope="col">Arrives</td>
							<td scope="col">Date</td>
						</tr>
					</thead>
					<tbody class="tabel-group-divider">
						<tr class="text-center">
							<% @flight.each do |flight| %>
								<td><%= @no += 1 %></td>
								<td><%= flight.depature_airport.code %></td>
								<td><%= flight.arrival_airport.code %></td>
								<td><%= flight.start %></td>
							<% end %>
						</tr>
					</tbody>
				</table>
			<% else %>
				<h1 class="text-center">
					Flights not found!
				</h1> 
			<% end %>
		</div>
	</div>
</div>

	