<h1 class="text-center mb-5">
	Flights Booker
</h1>

<div class="container">
	<%= form_with(url: "/flights", method: :get, data: { turbo_frame: "flights" }) do |f| %>
		<div class="col-md-3 me-auto">
			<div class="row">
				<div class="col">
					<%= f.label :depature, style: "display: block", class: "form-label" %>
					<%= f.collection_select(:depature_airport, Airport.all, :id, :code, {}, { class: "form-select" } ) %>
				</div>
				<div class="col mb-3">
					<%= f.label :arrival, style: "display: block", class: "form-label" %>
					<%= f.collection_select(:arrival_airport, Airport.all, :id, :code, {}, { class: "form-select" } ) %>
				</div>
			</div>
			<div class="mb-3">
				<%= f.label :start_time, style: "display: block", class: "form-label" %>
				<%= f.date_field :start, class: "form-control" %>
			</div>
			<div class="mb-3">
				<%= f.label :end_flight, style: "display: block
				", class: 'form-label' %>
				<%= f.date_field :end_flight, class: "form-control" %>
			</div>
			<div class="mb-3 d-grid gap-2">
				<%= f.submit value: "Search Flights", class: "btn btn-outline-success" %>
			</div>
		</div>
	<% end %>
</div>